<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stlcss %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
		<title>{% block title %}Poker hand tool{% endblock %}</title>
	</head>
	<body>
    <div class="navbar">
      {% block navbar %}
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pokerhandapp">Poker hand tool</a></li>
        <li><a href="/home/">Info</a></li>
        <li><a href="/pokerhandapp/pokerhandTool">help</a></li>
      </ul>
      {% endblock %}
    </div>
    <div>{{ message }}</div>
    <div>
      {% block content %}{% endblock %}
    </div>
	</body>
  <footer>
    {{ pname }}
    {{ ip }}
    {{ year }}
  </footer
</html>
